###############################################################################
# Normalize line endings using LF.
###############################################################################
* text eol=lf

###############################################################################
# Behavior for binary files.
###############################################################################
*.png   binary
*.jpg   binary
*.jpeg  binary
*.bmp   binary
*.gif   binary
*.tga   binary
*.psd   binary
*.ico   binary
*.ttf   binary
*.pdf   binary
*.mp3   binary
*.aac   binary
*.mp4   binary
*.mkv   binary
*.ts    binary
*.exe   binary
*.dll   binary
*.lib   binary
*.so    binary
*.dylib binary
*.solib binary
