###############################################################################
# Normalize line endings using LF for text files.
###############################################################################
* text=auto eol=lf

###############################################################################
# Binary files (never modify, never diff)
###############################################################################
*.png   binary
*.jpg   binary
*.jpeg  binary
*.bmp   binary
*.gif   binary
*.tga   binary
*.psd   binary
*.ico   binary
*.ttf   binary
*.pdf   binary
*.mp3   binary
*.aac   binary
*.mp4   binary
*.mkv   binary
*.ts    binary
*.zip   binary
*.7z    binary
*.gz    binary
*.tar   binary
*.rar   binary

###############################################################################
# Executables and libraries
###############################################################################
*.exe   binary
*.dll   binary
*.lib   binary
*.so    binary
*.dylib binary
*.solib binary
